.card {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  .item-firstname,
  .item-lastname,
  .item-age,
  .item-asso {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .mat-card-footer {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mat-progress-bar {
    width: 80%;
  }