<app-nav></app-nav>

<ng-container *ngIf="isUpdating; then tempUpdate; else tempBase">
</ng-container>

<ng-template #tempUpdate>
  <div class="list-input">
    <div class="button-list">
      <div class="button-in-list">
        <button (click)="confirm()">Confirm Changes</button>
      </div>
      <div class="button-in-list">
        <button (click)="discard()">Discard Changes</button>
      </div>
    </div>
    <div class="label-input">
      <label for="firstname">Firstname</label>
      <input [(ngModel)]="firstname" type="text" id="firstname" placeholder="{{firstname}}" />
    </div>
    <div class="label-input">
      <label for="lastname">Lastname</label>
      <input [(ngModel)]="lastname" type="text" id="lastname" placeholder="{{lastname}}" />
    </div>
    <div class="label-input">
      <label for="age">Age</label>
      <input [(ngModel)]="age" type="text" id="age" placeholder="{{age}}" />
    </div>
    <ng-container *ngIf="isUpdatingPsswd; then psswd; else noPsswd">
    </ng-container>
    <ng-template #psswd>
      <div class="label-input">
        <label for="newpassword">New Password</label>
        <input [(ngModel)]="newpassword" type="password" id="newpassword" placeholder="" />
      </div>
      <div class="label-input">
        <label for="confpassword">Confirm Password</label>
        <input [(ngModel)]="confpassword" type="password" id="confpassword" placeholder="" />
      </div>
      <div class="button-list">
        <div class="button-in-list">
          <button (click)="confirmPsswd()">Confirm Password Change</button>
        </div>
        <div class="button-in-list">
          <button (click)="discardPsswd()">Discard Password Changes</button>
        </div>
      </div>
    </ng-template>
    <ng-template #noPsswd>
      <div>
        <button (click)="updatePsswd()">Update Password</button>
      </div>
    </ng-template>
  </div>
</ng-template>

<ng-template #tempBase>
  <mat-card class="card">
    <mat-card-header>
      <button (click)="update()">Update Profile</button>
    </mat-card-header>
    <br>
    <mat-card-title>Personal Data</mat-card-title>
    <mat-card-content>
      <div class="item-lastname">
        Firstname: {{firstname}}
      </div>
      <div class="item-lastname">
        Lastname: {{lastname}}
      </div>
      <div class="item-age">
        Age: {{age}}
      </div>
    </mat-card-content>
    <br>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</ng-template>